# Server
NODE_ENV=development
PORT=3000
CORS_ORIGIN=http://localhost:5173
LOG_LEVEL=info

# Database (PostgreSQL)
DATABASE_URL=postgresql://user:password@localhost:5432/cpg_db?schema=public

# Firebase Admin SDK (service account)
FIREBASE_PROJECT_ID=al-cpg-management-powerrgrid
FIREBASE_CLIENT_EMAIL=76571787544-vhi5r3b0c8011mdf0231hmn5evcqt4lu.apps.googleusercontent.com
FIREBASE_PRIVATE_KEY="AIzaSyDLSQHFiUVlMtB1ToFMyaLrT_fQvMwwXTQ"
